:root {
  --color-default: #222222;
  --color-primary: #CB9224;
  --color-secondary: #fff;
  --color-third: #9a8743;
}

body {
    font-family: "Karla", sans-serif;

  }


  .wrapper-body {
    max-width: 1300px;
    position: static;
    margin: 0 auto;
    padding: 1rem 2rem;
  }

  
  body {
    font-family: 'Mukta', sans-serif;
  }


  .signup{
    width: 100%;
      height: 100%;
      background: url("../image/herlogin.png") top center no-repeat;
      background-size: cover;
      position: relative;
      padding-top: 60px;
      padding-bottom: 50px;
  }

 .signup .card{
    border-radius: 30px;
    border: none;
    height: auto;
    margin-top: 60px;
  }
  .signup {
   
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
  }

  .signup .input-group-text{
    height: 50px;
    border-top-left-radius:30px ;
    border-bottom-left-radius:30px ;
    background-color: var(--color-secondary);

    background: #F5F5F5;
  }

  .signup .form-select {
    padding: 15px 45px;
    height: 50px;
    margin-bottom: 20px;
    font-size: 13px;
    font-weight: normal;
    border-radius: 30px;
    background-color: #F5F5F5;
    border: none;
  }

  .form-group .custom-input {
    display: flex;
    align-items: center;
    position: relative;
  }
  
  .lefts-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  
  .lefts-icon {
    left: 10px;
  top: 24px; 
  padding: 5px;
  }
  

  .icon-input {
    padding-left: 30px; /* Adjust the padding to make space for the left icon */
    padding-right: 30px; /* Adjust the padding to make space for the right icon */
  }
  
 

  .akun p {
    align-items: center;
  }
  .signupbtn2 {
    background-color: var(--color-primary);
    color: var(--color-secondary);
    width: 85px;
    height: 45px;
    border-radius: 100px;
    padding: 10px;
    transition: 0.3s;
    font-size: 14px;
  }
  .signupbtn2 p {
    margin-left: 12px;
  }
  .signup-card-footer-text {
    font-size: 20px;
    margin-left: 20px;
    margin-top: 10px;
  }
  .forgot-password-link {
    margin-left: 15%;
  }
 
  


  .signup-card-description {
    color: #000;
    font-weight: normal;
    margin-bottom: 23px;
  }
  .signup-card form {
    max-width: 326px;
  }
  .signup-card .form-control {
    padding: 15px 45px;
    border: none;
    margin-bottom: 20px;
    height: 50px;
    font-size: 15px;
    line-height: 15;
    font-weight: normal;
    border-radius: 30px;
background: #F5F5F5;
  }


  .signup-card .form-control::-webkit-input-placeholder {
    color: #919aa3;
  }
  .signup-card .form-control::-moz-placeholder {
    color: #919aa3;
  }
  .signup-card .form-control:-ms-input-placeholder {
    color: #919aa3;
  }
  .signup-card .form-control::-ms-input-placeholder {
    color: #919aa3;
  }
  .signup-card .form-control::placeholder {
    color: #919aa3;
  }
  .signup-card .signup-btn:hover {
    border: 1px solid #000;
    background-color: transparent;
    color: #000;
  }
  .signup-card .forgot-password-link {
    font-size: 14px;
    color: #919aa3;
    margin-bottom: 12px;
  }
  .signup-card-footer-text {
    color: rgba(0, 0, 0, 0.50);
  font-family: Mukta;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  }

  .signup-card-footer-nav a {
    font-size: 14px;
    color: #919aa3;
  }
 

  
  
  input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.signup .masuk{
  margin-top: 40px;
}

.card-body h3 {
  font-weight: bold;
  color: var(--color-primary);
}


 a {
  color: var(--color-primary);
}



.text-resets1{
  color: var(--color-primary);
  font-size: 15px;
}




.remember{
 margin-left: 20px;
 margin-right: 20px;
 margin-top: 20px;
}

.signup label {
  color: rgba(0, 0, 0, 0.50);
font-family: Mukta;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

@media screen and  (min-width: 360px) and  (max-width: 416px) {
  .signup-card .card-body {
    padding: 35px 36px !important;
 }

 .signup .card {
  width: 320px;
  height: auto;
}

.signup .card h3 {
  display: flex;
  justify-content: center;
}

.signup .signupbtn2{
  margin-left: 33%;
}

.signupbg{
  padding: 10px 10px 10px 5px;
}



}

@media screen and  (min-width: 320px) and  (max-width: 360px) {
  .signup-card .card-body {
    padding: 35px 36px !important;
 }

 .signup .card {
  width: 300px;
  height: auto;
}

.signup .card h3 {
  display: flex;
  justify-content: center;
}

.signup .signupbtn2{
  margin-left: 33%;
}

.signupbg{
  padding: 10px 10px 10px 5px;
}

.signup .masuk {
  margin-top: 70px;
}

}

@media screen and  (min-width: 428px) and  (max-width: 450px) {
 
  .signup-card .card-body {
    padding: 35px 36px !important;
 }

 .signup .card {
  width: 360px;
  height: auto;
}

.signup .card h3 {
  display: flex;
  justify-content: center;
}

.signup .signupbtn2{
  margin-left: 33%;
}

.signupbg{
  padding: 10px 10px 10px 5px;
}

.signup .masuk {
  margin-top: 70px;
}


}

@media screen and (min-width: 768px) and  (max-width: 800px) {
  .signup-card .card-body {
    padding: 80px;
 }

}

.signup-card .card-body {
  padding: 80px;
}



@media screen and (min-width: 820px) and  (max-width: 992px) {
  .signup-card .card-body {
    padding: 80px;
 }

 

 
}

